.header-warpper {
  background-color: rgb(246, 243, 243);
}

.header {
  background: url("../images/header-background.jpg") center center no-repeat;
  background-size: cover;
  clip-path: polygon(0 0%, 100% 0%, 100% 60%, 0% 100%);
}

.contact {
  background-color: rgb(246, 243, 243);
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
}

@media (min-width: 576px) {
  .header {
    clip-path: polygon(0 1%, 100% 0%, 100% 80%, 0% 100%);
  }
}
@media (max-width: 576px) {
  .header {
    padding-top: 10rem;
    padding-bottom: 10rem;
    clip-path: polygon(0 1%, 100% 0%, 100% 80%, 0% 100%);
  }
  .header > .container > .row > .col-sm-12 p {
    text-align: center;
  }
}
