.navbar .btn-outline-light:hover {
    color: #333;
}

.header{
    background:url('../images/header-background.jpg') center center no-repeat;
    background-size: cover;

}


.brand
{
    width: 300px;
}

.Icon-section-Icon
{
    flex-basis: 10%;
}
.Icon-section-content{
    flex-basis: 90%;
}


.opacity-9{
    opacity: 0.9;
    transition: 1s ease-in-out;;
    
}

.modal-xxl{
    max-width: 1540px;
}

@media (min-width:576px) {
    .navbar{
        background-color: #333;
    }
    .download-paragraph{
        word-spacing: 3px;
    }
    .download{
        background-image: url("../images/download-background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .download-img{
        margin-top: -7.5rem;
    }
}

@media (min-width:992px) {
    .navbar{
        background-color: transparent;
    }
}

@media (max-width:575.9px){
    body{
        width: 100%;
    }
    .navbar{
        background-color: #333;
    }
    .brand{
        width: 200px;
    }
    .header{
        padding-top: 8rem;
        padding-bottom: 8rem;

    }
    .hero-section-warpper{
        padding-left: 3rem;
        padding-right: 3rem;
        div{
            h1{
                font-size: 2em;
                text-align: center;
            }
            p{
                font-size: 1em;
                text-align: center;
            }
            div > form {
                input {
                    height: 1rem;
                }

            }
        }
    }
    .Icon{
        padding: 8rem 1rem;

        & > .container-xl > .row {
            .col-md-4 {
                &:nth-child(n+1){
                    gap: 10px
                }
                &:nth-child(2){
                    i{
                        margin-left: -0.9rem;
                    }
                }
            }

        }
    }
    .details{
        padding: 8rem 1rem 2rem;

        .container-xl > .row {
            .col-lg-6{
                &:nth-child(1){
                    justify-content: center;
                    align-items: center;
                    & > div {
                        margin-top: 2rem;
                        margin-bottom: 2rem;
                    }
                }

            }
        }
    }
    .statement{
        padding-bottom: 4rem;
        padding-right: 1rem;
        padding-left: 1rem;
        & > .container {
            padding: 3rem;
        }
    }
    .details-2{
        padding-left: 1rem;
        padding-right: 1rem;
        .container-xl > .row {
            &  > .col-lg-6 {
                &:nth-child(1){
                    margin-bottom: 3rem;
                }
            }
        } 
    }
    .testimonials{
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 3rem;
        margin-bottom: 7.4rem;
        .container-xl > .row {
            .col-md-4 {
                display: flex;
                justify-content: center;
                align-items: center;
                &:nth-child(n+1){
                    margin-bottom: 1rem;
                    div{
                        &:nth-child(n+1){
                            padding-left: 1rem;
                            padding-right: 1rem;
                            text-align: center;
                            justify-content: center;
                            align-items: center;
                            img{
                                width: 35%;
                            }
                            & > div > p {
                                font-size: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
    .modal {
        button{
           width:25% 
        }
    }
    .craft-model-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        div{ 
            &:nth-child(2){
                display: flex;
                flex-direction: column;
                align-items: center;

                h2{
                    margin-top: 2rem;
                    text-align: center;
                }
                p{
                    padding-right: 2rem;
                    padding-left: 2rem;
                }
                div{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    button{
                        margin-right: 1rem;
                        flex-basis: 50%;
                        padding: 1rem;
                    }
                }
            }
        }
    }


    .download{
         background: url("../images/download-background.jpg");
         margin-top: 5.1rem;
         padding-bottom: 3rem;
         & > .container-xl > .row > .col-sm-12 
         {
            &:nth-child(1){
                justify-content: center;
                img { 
                    width: 90%;
                    margin-top: -7.4rem;
                }
            }
            &:nth-child(2){
                padding-right: 1rem;
                padding-left: 1rem;
               align-items: center;
            }
         }
    }
    .social{
        padding-top: 2rem;
        padding-bottom: 2rem;
        & > .container-lg > .row {
            .col-12 {
                &:nth-child(1){
                    p{
                        font-size: large;
                    }
                }
            }
        }
    }
    .footer{
        & > .container-lg > .row {
            display: flex;
            flex-direction: column;
            align-items: center;
            .col-sm-6 {
                &:nth-child(1){
                    display: flex;
                    justify-content: center;
                }
                &:nth-child(2){
                  justify-content: center;
                }
            }
        }
    }
}